@model IEnumerable<APS.Models.Book>
<body>
    <div class="container-fluid">
        <h1>@Model.First().Category</h1>
        <div class="panel panel-default">
            @for (int i = 0; i < ViewBag.ItemsPerline; i++)
            {
                <div class="row">
                    @foreach (var book in Model)
                    {
                        <div class="col-sm-3">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <a asp-action="DisplayBook" asp-route-SelectedBook="@book.Title"><img src="@book.Images" width="160" height="250"></a>
                                    </div>
                                    <div class="col-sm-5">
                                        <strong>Title: </strong> @book.Title
                                        <br />
                                        <strong>Category: </strong> @book.Category
                                        <br />
                                        <strong>Publishing Company: </strong> @book.PublishingCompany
                                        <br />
                                        <strong>Price: </strong> @book.Value
                                        <br />
                                        <strong>Quantity in Stock: </strong> @book.Quantity
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
       
</body>