@model IEnumerable<APS.Models.Book>
<body>
    <div class="container-fluid">
        <h1>@Model.First().Category</h1>
        <div class="panel panel-default">
            @for (int i = 0; i < ViewBag.ItemsPerline; i++)
            {
                <div class="row">
                    @foreach (var book in Model)
                    {
                        <div class="col-sm-3">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <a asp-action="DisplayBook" asp-route-SelectedBook="@book.Title"><img src="@book.Image1" width="160" height="250"></a>
                                    </div>
                                    <div class="col-sm-5">
                                        <strong>Título: </strong> @book.Title
                                        <br />
                                        <strong>Autor: </strong> @book.Author
                                        <br />
                                        <strong>Categoria: </strong> @book.Category
                                        <br />
                                        @*<strong>Editora: </strong> @book.PublishingCompany
                                        <br />*@
                                        <strong>Preço: </strong> @book.Value
                                        <br />
                                        <strong>Quantidade: </strong> @book.InStock
                                        <a asp-action="BuyBook" asp-route-bookId="@book.BookId" class="btn btn-warning text-center" style="position: absolute; top: 215px"><span class="glyphicon glyphicon-usd"></span> Comprar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
       
</body>