@model IEnumerable<IGrouping<string, APS.Models.Book>>

<body>
	<div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" id="sidebar" style="background-color: #c66">
                <h3 style="color: white"><strong>Categorias</strong></h3>
                <ul class="list-group">
                    @foreach (var category in Model)
                    {
                        <li class="list-group-item" style="background-color: #c66"> <a style="color: white" asp-controller="Home" asp-action="DisplayCategory" asp-route-SelectedCategory="@category.Key">@category.Key</a></li>
                    }
                </ul>
            </div>
            <div class="col-sm-10" style="margin-top: 10px">
                <label>Categorias</label>
                @foreach (var category in Model)
                {
                    <div>
                        <a class="btn btn-info btn-sm" style = "background-color: #c66; position: relative; top: -2px" asp-controller="Home" asp-action="DisplayCategory" asp-route-SelectedCategory="@category.Key"><span class="glyphicon glyphicon-arrow-right"></span> @category.Key</a>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                        <div class="panel-body">
                        @foreach (var book in category.AsEnumerable().Take(3))
                        {
                            <div class="col-sm-4">
                                @*<div class="panel panel-default">*@
                                    <div class="row">
                                        <div class="col-sm-7">
                                            @*<div class="panel-body">*@
                                                <a asp-action="DisplayBook" asp-route-SelectedBook="@book.BookId"><img src="@book.Image1" width="160" height="250" /></a>
                                            @*</div>*@
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <strong>Título: </strong> @book.Title
                                                <br />
                                                <strong>Autor: </strong>@book.Author
                                                <br />
                                                <strong>Categoria: </strong> @book.Category
                                                <br />
                                                @*<strong>Editora: </strong> @book.PublishingCompany
        <br />*@
                                                <strong>Preço: </strong> @book.Value
                                            </div>
                                            <div class="row">
                                                <a asp-action="BuyBook" asp-route-bookId="@book.BookId" class="btn btn-warning text-center" style="position: absolute; top: 215px"><span class="glyphicon glyphicon-usd"></span> Comprar</a>
                                            </div>
                                            @*<strong>Quantiade em estoque: </strong> @book.Quantity*@
                                        </div>
                                    </div>
                                @*</div>*@
                            </div>
                        }
                        </div>
                        </div>
                    </div>
                }
            </div>
        </div>
	</div>
</body>