@model IEnumerable<IGrouping<string, APS.Models.Book>>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2" id="filter">
				<ul>
					@foreach (var item in Model)
					{
						<a asp-controller="Home" asp-action="DisplayCategory" asp-route-SelectedCategory="@item.Key"><li>@item.Key</li></a>
					}
				</ul>
			</div>
			<div class="col-sm-10" id="filter">

				<label id="label">Categorias</label>
				@foreach (var item in Model)
				{	
					<div>
						<a asp-controller="Home" asp-action="DisplayCategory" asp-route-SelectedCategory="@item.Key">@item.Key</a>
					</div>
					<div class="row">
						@foreach (var item2 in item.AsEnumerable().Take(3))
						{	
							<div class="col-sm-4">
								<p>@item2.Title</p>
							</div>
						}
					</div>
				}
			</div>
		</div>
	</div>
</body>