@model IEnumerable<APS.Models.Purchase>

@{
    ViewData["Title"] = "ListSoldBooks";
}

<h2>Livros Vendidos</h2>

@*<p>
    <a asp-action="Create">Cadastrar novo livro à venda</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Título</strong>
                @*@Html.DisplayNameFor(model => model.Book.Title)*@
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>*@
            @*<th>
                <strong>Estoque</strong>
                @Html.DisplayNameFor(model => model.Book.InitialStock)
            </th>*@
            <th>
                <strong>Preço</strong>
                @*@Html.DisplayNameFor(model => model.Book.Value)*@
            </th>
            <th>
                <strong>Status da entrega</strong>
                @*@Html.DisplayNameFor(model => model.Book.Value)*@
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellerId)
        </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Book.Title)
            </td>
            @*<td>
                @Html.DisplayFor(model => item.Book.InitialStock)
            </td>*@
            <td>
                @Html.DisplayFor(model => item.Book.Value)
            </td>
            <td>
                <form asp-action="ListSoldBooks">
                    <select name="status" asp-for="@item.Status" asp-items="@new @SelectList(ViewBag.Whatever, "Key", "Value")"> </select>
                    <input type="submit" />
                    <input type="hidden" name="purchaseId" value="@item.PurchaseId" />
                </form>
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.BookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishingCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>
        }
    </tbody>
</table>
